@import "./../../../scss/utilities/variables.scss";

.list {
   display: flex;
   align-items: center;

   .itemWrap + .itemWrap {
      margin-left: 12px;
   }
}

.item {
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid $blocks-color;
   border-radius: 100vh;
   background: transparent;
   font-size: 17px;
   color: #fff;
   cursor: pointer;
   border-color: rgba($blocks-color, 0.2);

   &Main {
      width: auto;
      padding: 0 18px;
   }

   &Active {
      background: $blocks-color;
      color: $content-color;
   }
}
