@import "../../../../scss/utilities/variables.scss";

.wrap {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 30;
   width: 100vw;
   height: 100vh;
   background: rgba($slate-950, 0.65);
   display: none;

   &.visible {
      display: block;
   }
}

.block {
   width: 460px;
   padding: 28px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #fff;
   border-radius: 16px;
}

.header {
   margin-bottom: 28px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.heading {
   color: $slate-900;
}

.closeBtn {
   width: 25px;
   height: 25px;
   position: relative;
   display: block;
   background: transparent;
   border: none;
   cursor: pointer;

   &::before,
   &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 1px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $slate-900;
      border-radius: 2px;
   }

   &::before {
      transform: translate(-50%, -50%) rotate(45deg);
   }

   &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
   }
}

.elements {
   display: flex;
   flex-wrap: wrap;
   margin-top: -14px;
   margin-left: -14px;
}

.removeBtn {
   margin-top: 96px;
   padding: 10px 18px;
   border-radius: 100vh;
   background: $pollution-level-5;
   font-size: 17px;
   color: #fff;
   cursor: pointer;
   border: none;
}
