$main-color: #06b6d4;
$ligth-main-color: #22d3ee;

$slate-50: #f8fafc;
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-300: #cbd5e1;
$slate-400: #94a3b8;
$slate-600: #475569;
$slate-700: #334155;
$slate-800: #1e293b;
$slate-900: #0f172a;
$slate-950: #020617;

$pollution-level-1: linear-gradient(180deg, #22d3ee 0%, #06b6d4 100%);
$pollution-level-2: linear-gradient(180deg, #4ade80 0%, #22c55e 100%);
$pollution-level-3: linear-gradient(180deg, #facc15 0%, #eab308 100%);
$pollution-level-4: linear-gradient(180deg, #fb923c 0%, #f97316 100%);
$pollution-level-5: linear-gradient(180deg, #f87171 0%, #ef4444 100%);

$container-width: 1200px;
$border-radius: 16px;
