$normal-value: linear-gradient(107deg, #22d3ee 0%, #06b6d4 100%);
$warning-value: linear-gradient(107deg, #fbbf24 0%, #f59e0b 100%);
$high-value: linear-gradient(107deg, #f87171 0%, #ef4444 100%);
$main-color: #06b6d4;
$blocks-color: #f8fafc;
$content-color: #0f172a;
