@import "./../../scss/utilities/variables.scss";

.wrap {
   display: flex;
   align-items: center;
   margin-bottom: 30px;
}

.item {
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid $blocks-color;
   border-radius: 100vh;
   background: transparent;
   font-size: 17px;
   color: #fff;
   cursor: pointer;
   border-color: rgba($blocks-color, 0.2);

   &Active {
      background: $blocks-color;
      color: $content-color;
   }
}

.changeScreenBtn {
   display: block;
   width: auto;
   margin-left: 36px;
   padding: 0 18px;
}
