* {
   box-sizing: border-box;
   font-family: "Yanone Kaffeesatz", sans-serif;

   &,
   &::before,
   &::after {
      margin: 0;
      padding: 0;
   }
}

ul,
ol {
   list-style-type: none;
}

img,
svg,
picture,
video {
   display: block;
}
