@import "./../../scss/utilities/variables.scss";

.container {
   display: flex;
   justify-content: space-between;
}

.table {
   display: grid;
   grid-template-columns: 246px 246px 246px 246px;
   // grid-gap: 5px;
}
