@import "./../../scss/utilities/variables.scss";

.stateSection {
   background: url(./../../assets/images/bg-state.jpg) center center no-repeat;
   background-size: cover;
}

.container {
   display: flex;
   justify-content: space-between;
   padding-top: 50px;
}

.table {
   display: grid;
   grid-template-columns: 246px 246px 246px 246px;
   // grid-gap: 5px;
}
