@import "./../../../scss/utilities/variables.scss";

.wrap {
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background: rgba(0, 0, 0, 0.5);
   display: none;

   &.visible {
      display: block;
   }
}

.block {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 460px;
   padding: 25px;
   background: $blocks-color;
   border-radius: 15px;
}

.header {
   margin-bottom: 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.heading {
   color: $content-color;
}

.closeBtn {
   width: 25px;
   height: 25px;
   position: relative;
   display: block;
   background: transparent;
   border: none;
   cursor: pointer;

   &::before,
   &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 1px;
      border-radius: 2px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $content-color;
   }

   &::before {
      transform: translate(-50%, -50%) rotate(45deg);
   }

   &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
   }
}

.elements {
	display: flex;
	flex-wrap: wrap;
	margin-top: -15px;
	margin-left: -15px;
}

.removeBtn {
   margin-top: 100px;
   height: 40px;
   padding: 0 18px;
   border-radius: 100vh;
   background: $high-value;
   font-size: 17px;
   color: #fff;
   cursor: pointer;
   border: none;
}
