.wrap {
   display: flex;
   align-items: center;
   margin-bottom: 30px;
}

.list {
   display: flex;
   align-items: center;

   .itemWrap + .itemWrap {
      margin-left: 12px;
   }
}

.item {
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #fff;
   border-radius: 100vh;
   background: transparent;
   font-size: 17px;
   color: #fff;
   cursor: pointer;

   &Main {
      width: auto;
      padding: 0 18px;
   }

   &NotExists {
		position: relative;
      border-color: rgba(#f4f4f4, 0.3);
		
		&::before,
      &::after {
         content: "";
         position: absolute;
         width: 16px;
         height: 2px;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         background: #bed0da;
         border-radius: 10px;
      }

      &::after {
         transform: translate(-50%, -50%) rotate(90deg);
      }
   }

   &Active {
      background: #fff;
      color: #181818;
   }
}

.changeScreenBtn {
   display: block;
   margin-left: 36px;
}
