@import "./../../scss/utilities/variables.scss";

.header {
   padding: 26px 0;
   background: #d5e8f6;
}

.container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.menu {
   cursor: pointer;
}

.menuLine {
   width: 24px;
   height: 2px;
   background: $black;

   &Center {
      width: 28px;
   }

   &Top {
      margin-bottom: 6px;
   }

   &Bottom {
      margin-top: 6px;
   }
}
