@import "./../../scss/utilities/variables.scss";

.header {
   padding: 26px 0;
   background: #d5e8f6;
}

.container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.menu {
   width: 30px;
   height: 30px;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;

   &:hover {
      .menuLineCenter {
         background: transparent;
      }

      .menuLine::before {
         top: calc(50% - 1px);
         transform: rotate(45deg) translate(0, -50%);
      }

      .menuLine::after {
         top: calc(-50% + 0px);
         transform: rotate(-45deg) translate(0, 50%);
      }
   }
}

.menuLine {
   transition: 0.3s;
   width: 28px;
   height: 2px;
   background: $black;
   position: relative;

   &::before,
   &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 2px;
      background: $black;
      left: 0;
      transition: 0.3s;
   }

   &::before {
      bottom: 6px;
   }

   &::after {
      top: 6px;
   }
}
