@import "../../../../../../../scss/utilities/variables.scss";

.react-calendar {
   width: 336px;
   max-width: 100%;

   & button {
      outline: none;
   }

   & button:enabled:hover {
      cursor: pointer;
   }
}

.react-calendar__navigation {
   display: flex;
   height: 44px;
   margin-bottom: 12px;

   & button {
      min-width: 44px;
      background: none;
      border: 0;
      border-radius: 100vh;

      &:enabled:hover,
      &:enabled:focus {
         background-color: $slate-200;
      }

      &:disabled {
         background-color: $slate-100;
         color: $slate-300;
      }
   }

   &__arrow {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__label__labelText {
      font-size: 18px;
      font-weight: 500;

      &:enabled {
         color: $slate-900;
      }
   }
}

.react-calendar__tile {
   width: 48px;
   height: 48px;
   border: 0;
   border-radius: 100vh;
   background: none;
   text-align: center;
   font-size: 17px;
   color: $slate-900;

   &:enabled:hover,
   &:enabled:focus {
      background-color: $slate-200;
   }

   &--active {
      background: $ligth-main-color;
      color: #fff;
      transition: background 0.3s;

      &:enabled:hover,
      &:enabled:focus {
         background: $ligth-main-color;
         color: #fff;
      }
   }

   &--hasActive {
      background: $ligth-main-color;
      color: #fff;

      &:enabled:hover,
      &:enabled:focus {
         background: $ligth-main-color;
         color: #fff;
      }
   }

   &--now {
      border: 1.5px solid $main-color;

      &:enabled:hover,
      &:enabled:focus {
         background: #cffafe;
      }

      &:enabled.react-calendar__tile--active {
         background: $ligth-main-color;
      }
   }
}

.react-calendar__month-view {
   &__weekdays {
      text-align: center;
      text-transform: capitalize;
      font-size: 17px;
      color: $slate-600;
      margin-bottom: 10px;

      &__weekday > abbr {
         text-decoration: none;
      }
   }

   &__days__day {
      &--neighboringMonth {
         color: $slate-400;
      }

      &--weekend {
         color: #ef4444;
      }

      &.react-calendar__tile--active {
         color: #fff;
      }
   }
}

.react-calendar__year-view {
   &__months__month {
      height: fit-content;
   }

   & .react-calendar__tile {
      padding: 10px;
   }
}
