.wrap {
   color: #fff;
}

.element + .element {
   margin-top: 28px;
}

.name {
   font-weight: 300;
   line-height: 135%;
}

.value {
   font-size: 22px;
   font-weight: 600;
   line-height: 145%;
}
