@import "./../../scss/utilities/variables.scss";

.airprop {
   background: $blocks-color;
   border-radius: 15px;
}

.header {
   background: #e3ebf0;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   padding: 15px 25px;
   display: flex;
   align-items: center;

   &__exit {
      background: #e3ebf0;
      padding: 5px;
      border: none;
      cursor: pointer;
   }

   &__title {
      margin-left: 20px;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 500;
      color: $content-color;
   }
}

.info {
   padding: 58px 50px;
}

.chart {
   margin-top: 80px;
}
