@import "./../../scss/utilities/variables.scss";

.airprop {
   background: $blocks-color;
   border-radius: 15px;
}

.header {
   background: #e3ebf0;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   padding: 15px 25px;
   display: flex;
   align-items: center;

   &__exit {
      background: #e3ebf0;
      padding: 5px;
      border: none;
      cursor: pointer;
   }

   &__title {
      margin-left: 20px;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 500;
      color: $content-color;
   }
}

.maininfo {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 58px 50px;

   &__valueWrap {
      display: flex;
      align-items: flex-end;
   }

   &__value {
      font-size: 54px;
      color: $content-color;
      font-weight: 500;
      letter-spacing: -0.0625rem;
   }

   &__unit {
      margin-left: 12px;
      margin-bottom: 11px;
      color: $content-color;
   }

   &__standards {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;
   }

   &__standardsList {
      display: flex;
   }

   &__standardsSource {
      font-size: 12px;
      color: #545a67;
      right: 0;
      top: -35px;
      position: absolute;
   }

   &__standardsItem {
      position: relative;
   }

   &__standardsItemWrap:first-child &__standardsValue {
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
   }

   &__standardsItemWrap:last-child &__standardsValue {
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
   }

   &__standardsItemWrap + &__standardsItemWrap {
      margin-left: 2px;
   }

   &__standardsDesc {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      display: block;
      max-width: 120px;
      margin-top: 10px;
      text-align: center;
      font-size: 14px;
      color: #545a67;
   }

   &__standardsValue {
      width: 130px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-weight: 700;
      background: #444;
   }
}
